html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
a:link {
	font-family: serif;
    font-size: 36px;
    color: #613096;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}
#box1 {
	margin: 10px;
	border: 1px solid black;
	height: 50px;
	width: 150px;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 15px;
	background-color: #D84231;
	color: white;
	font-weight: bold;
}
#box2 {
	margin: 10px;
	border: 1px solid black;
	height: 50px;
	width: 150px;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 15px;
	background-color: #E9AD33;
	margin-left: 30px;
	color: white;
	font-weight: bold;
}
#box3 {
	margin: 10px;
	border: 1px solid black;
	height: 50px;
	width: 150px;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 15px;
	background-color: #FDF733;
	margin-left: 60px;
	color: white;
	font-weight: bold;
}
#box4 {
	margin: 10px;
	border: 1px solid black;
	height: 50px;
	width: 150px;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 15px;
	background-color: #578C05;
	margin-left: 90px;
	color: white;
	font-weight: bold;
}
#box5 {
	margin: 10px;
	border: 1px solid black;
	height: 50px;
	width: 150px;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 15px;
	background-color: #234AFB;
	margin-left: 120px;
	color: white;
	font-weight: bold;
}
#box6 {
	margin: 10px;
	border: 1px solid black;
	height: 50px;
	width: 150px;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 15px;
	background-color: #DF8BF0;
	margin-left: 150px;
	color: white;
	font-weight: bold;
}