/*header*/
header h3 {
	font-size: 30px;
	text-align: left;
	text-shadow: 2px 2px white;
	color: black;
	font-family: serif, sans-serif;
	border: 0px solid black;
	padding: 20px;
	position: relative;
	
}
nav {
	text-align: inline;
	font-family: serif;
	font-size: 30px;
	text-decoration: underline;
	position: absolute;
	top: 20px;
	left: 450px;
}
a {
    font-family: serif;
    font-size: 30px;
    color: #102055;
}
a:link {
    text-decoration: none;
    color: #102055;
}
a:hover {
    text-decoration: underline;
	box-shadow: 10px 10px 10px 10px yellow;
}
a:active {
     color: red;
}
.topbox {
	font-size: 44px;
	text-align: center;
	text-shadow: 2px 2px white;
	color: black;
	font-family: serif, sans-serif;
	border: 5px solid black;
	padding: 20px;
	position: relative;
	background-image: url(/img/SRoot.jpg);
	background-size: contain;

}
.row {
	margin: 0px;
}
.column {
    float: left;
    padding: 25px;
    height: 100px;
    text-align: left;
    font-size: 30px;
}
.column.three-fourth {
    width: 75%;
    background-color: none;
    border: 0px solid white;
}
.column.one-fourth {
	width: 25%;
    background-color: none;
    border: 0px solid white;