.box0 {
	box-sizing: border-box;
	border: 1px;
	height: 300px;
	width: 500px;
	background-color: white;
	border: 1px solid black;
	position: relative;
}
.box {
	position: relative;
	top: 0px;
	left: 0px;
	height: 23.1px;
	width: 500px;
	margin-top: 0px;
	margin-bottom: 23.1px;
	background-color: red;

	}
.field {  
	position: absolute;
	top: 0px;
	left: 0px;
	height: 161.7px;
	width: 200px;
	background-color: #00348c;
	color: #fff;
	text-align: center;
}
	
.field p {
	letter-spacing: 20px;
	height: 15px;
	font-size: 14px;
	line-height: 18px;
	margin: 0;
	padding: 1px;

}
