
html {
	background-color: gray;

}
.box0 {
	height: 300px;
	width: 500px;
	background-color: white;
	border: 1px solid black;
	position: relative;
	margin: 50px 50px;
}
.box {
	position: relative;
	top: 0px;
	left: 0px;
	height: 23.1px;
	width: 500px;
	margin-top: 0px;
	margin-bottom: 23.1px;
	background-color: red;
	}
.field {  
	position: absolute;
	top: 0px;
	left: 0px;
	height: 161.7px;
	width: 200px;
	background-color: #00348c;
	color: #fff;
	text-align: center;
}
.field p {
	letter-spacing: 20px;
	height: 15px;
	font-size: 14px;
	line-height: 18px;
	margin: 0;
	padding: 1px;
}
/*---------------------------------------------------------------------------*/
/*Great Britain*/
/*---------------------------------------------------------------------------*/
#bflag {
height: 285px;
width: 415px;
position: relative:
top: 0px;
left: 0px;
border: 1px solid black;
margin: 50px 50px;
background-color: #cc0000;
}
.topleft {
height: 100px;
width: 170px;
background: #0000b3;
border-style: solid;
border-color: white;
border-width: 0px 15px 15px 0px;
overflow: hidden;
position: absolute;
top: 531px;
left: 60px;
}
.tlangle {
height: 15px;
width: 230px;
background: #cc0000;
border-style: solid;
border-color: white;
border-width: 20px 0px 10px 0px;
position: absolute;
top: 30px;
left: -25px;
overflow: hidden;
transform: rotate(35deg);
}
.bottomleft {
height: 100px;
width: 170px;
background-color: #0000b3;
border-style: solid;
border-color: white;
border-width: 15px 15px 0px 0px;
position: absolute;
overflow: hidden;
top: 702px;
left: 60px;

}
.blangle {
height: 15px;
width: 230px;
background: #cc0000;
border-style: solid;
border-color: white;
border-width: 10px 0px 20px 0px;
position: absolute;
top: 10px;
left: -35px;
overflow: hidden;
transform: rotate(145deg);
}

.topright {
height: 100px;
width: 170px;
background: #0000b3;
border-style: solid;
border-color: white;
border-width: 0px 0px 15px 15px;
overflow: hidden;
position: absolute;
top: 531px;
left: 289px;
}
.trangle {
height: 15px;
width: 250px;
background: #cc0000;
border-style: solid;
border-color: white;
border-width: 20px 0px 10px 0px;
position: absolute;
top: 30px;
left: -60px;
transform: rotate(145deg);
}

.bottomright {
height: 100px;
width: 170px;
background-color: #0000b3;
border-style: solid;
border-color: white;
border-width: 15px 0px 0px 15px;
overflow: hidden;
position: absolute;
top: 702px;
left: 289px;
}
.brangle {
height: 15px;
width: 300px;
background: #cc0000;
border-style: solid;
border-color: white;
border-width: 10px 0px 20px 0px;
position: absolute;
top: 30px;
left: -20px;
transform: rotate(35deg);
}
/*---------------------------------------------------------------------------*/
/*Norway
/*---------------------------------------------------------------------------*/

#nflag {
height: 300px;
width: 470px;
position: relative:
top: 0px;
left: 0px;
border: 1px solid black;
background-color: blue;
margin: 50px 50px;
}
.tleft {
height: 115px;
width: 100px;
background: red;
border-style: solid;
border-color: white;
border-width: 0px 15px 15px 0px;
position: absolute;
top: 938px;
left: 60px;
}
.bleft{
height: 115px;
width: 100px;
background-color: red;
border-style: solid;
border-color: white;
border-width: 15px 15px 0px 0px;
position: absolute;
top: 1108px;
left: 60px;
}
.tright {
height: 115px;
width: 300px;
background: red;
border-style: solid;
border-color: white;
border-width: 0px 0px 15px 15px;
position: absolute;
top: -185px;
left: 155px;
}
.bright {
height: 115px;
width: 300px;
background-color: red;
border-style: solid;
border-color: white;
border-width: 15px 0px 0px 15px;
position: absolute;
top: 173px;
right: -0px;
}
/*---------------------------------------------------------------------------*/
/*Japan
/*---------------------------------------------------------------------------*/
#jflag {
height: 300px;
width: 400px;
position: relative:
top: 0px;
left: 0px;
border: 1px solid black;
margin: 50px 50px;
background-color: white;
}
.circle {
border-radius: 50%;
height: 150px;
width: 150px;
background: red;
position: relative;
top: 73px;
left: 120px;
}


