html {
    box-sizing: border-box; 
}
*, *:before, *:after {
    box-sizing: inherit;
}
.container {
	margin: 0px auto;
	padding: 100px;
}
.row {
	margin: 10px;
}
.column {
    float: left;
    padding: 40px;
    height: 100px;
}
.column.one-half {
    width: 50%;
    background-color: yellow;
    border: 4px groove yellow;
    text-align: center;
}
.column.one-third {
    width: 33.33%;
    background-color: red;
    border: 4px groove red;
    text-align: center;
}
.column.one-fourth {
	width: 25%;
    background-color: green;
    border: 4px groove green;
    text-align: center;
}
.column.one-sixth {
	width: 16.66%;
    background-color: salmon;
    border: 4px groove salmon;
    text-align: center;
}
.column.one-eighth {
	width: 12.5%;
    background-color: blue;
    border: 4px groove blue;
    text-align: center;
}

