body {
/*background: linear-gradient(to bottom right, silver, blue);*/
background-image: url(/img/Kevleteren.jpg);
border: 5px solid black;
padding-top: 0px;
border-radius: 25px;
}
header>h1 {
font-size: 44px;
text-align: center;
text-shadow: 2px 2px grey;
border-style: double;
border: 30px darkblue double;
padding: 20px;
background-image: url(paper.gif);
}
nav {
text-align: right;
}
a:link {
color: black;
}
a:visited {
color: red;
}
a:hover {
color: yellow;
}
a:active {
color: green;
}
textarea{
color: white;
border: 3px solid yellow;
background: black;
}
label {
 writing-mode: tb-rl;
 filter: flipv fliph;
 }
.exp {
color: red;
text-shadow: 2px 2px black;
}
.hob {
color: green;
text-shadow: 2px 2px black;
}
img {
position: relative;
}